<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <a class="navbar-brand text-centre" href="#">Employee Management System</a>
  <div class="container col-md-5 offset-md-9" >
  <li class ="nv-item">
              
    <button type="submit" class="btn btn-danger" (click)="Signup()" >Signup</button>
  </li>
</div>
</nav>




<div  class="image-container">

<div class="container col-md-5" >
    <h1 style="color:black">User Login</h1>
        <form (ngSubmit)="userLogin()">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Username</label>
                <input type="text" [(ngModel)]="user.userName" class="form-control" id="exampleFormControlInput1" name="userName">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Password</label>
                <input type="password" [(ngModel)]="user.password" class="form-control" id="exampleFormControlInput1" name="password">
                </div>
    
              <button type="submit" class="btn btn-primary m-3">Login</button>
<br/>
<h2>create new user, click on Signup</h2>
             

             

        </form>
    </div>
</div>
