<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
  <a class="navbar-brand" href="#">EMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      
      <li class ="nv-item">
        <a  [routerLink]="['/create-employee']" routerLinkActive="active" class ="nav-link"> Create Employee</a>
      </li>
      <li class ="nv-item">
        <a  [routerLink]="['/employee-list']" routerLinkActive="active" class ="nav-link">Employee List</a>
      </li>
      <li class ="nv-item">
        <a  [routerLink]="['/create-department']" routerLinkActive="active" class ="nav-link"> Create Department</a>
      </li>
      <li class ="nv-item">
        <a  [routerLink]="['/department-list']" routerLinkActive="active" class ="nav-link">Department List</a>
      </li>
      
      
    </div>
  </div>
  <button class="btn btn-danger" (click)="LogOut()" >LogOut</button>
</nav>



<div class="img">
<div class="col-md-4 offset-md-3 ">

    <h3>create Employee</h3>
    <form (ngSubmit)="onSubmit()">
      <div class="navbar-nav">
      
        <li class ="nv-item">
          <a  [routerLink]="['create-employee']" routerLinkActive="active" class ="nav-link"> Create Employee</a>
        </li>
  
      <div class="form-group">
        <label for="emp_name">Employee Name</label>
        <input type="text" class="form-control" id="emp_name" [(ngModel)]="employees.emp_name" name="emp_name">
      </div>
  
      <div class="form-group">
        <label for="emp_email">Employee Email</label>
        <input type="text" class="form-control" id="emp_email" [(ngModel)]="employees.emp_email" name="emp_email">
      </div>
      <div class="form-group">
        <label for="emp_phone_no">Employee phone no</label>
        <input type="text" class="form-control" id="emp_phone_no" [(ngModel)]="employees.emp_phone_no" name="emp_phone_no">
      </div>

      <div class="form-group">
        <label for="dep_no">Department Id</label>
        <input type="text" class="form-control" id="dep_no" [(ngModel)]="employees.dept_id" name="dep_no">
      </div>

      <div class="form-check">
        <label for="gender">Gender</label>
        <br/>
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
         Male
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
         Female
        </label>
      </div>

     

      <div class="form-group">
        <label for="salary">Salary</label>
        <input type="text" class="form-control" id="salary" [(ngModel)]="employees.salary" name="salary">
      </div>


      <br/>
      <button type="submit " class="btn btn-success m-6">Submit</button>
</div>


    </form>
  
    </div>
  </div>