.img
{
background-image:url("https://www.freepik.com/free-photo/abstract-solid-shining-yellow-gradient-studio-wall-room-background_26773711.htm#query=light%20colours&position=24&from_view=search&track=ais&uuid=94d3346b-20b0-4d0d-86ef-8db356329249");
background-size:cover;
min-height: 100vh;
max-height: fit-content;
}