<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <a class="navbar-brand" href="#">EMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        
        <li class ="nv-item">
          <a  [routerLink]="['/create-employee']" routerLinkActive="active" class ="nav-link"> Create Employee</a>
        </li>
        <li class ="nv-item">
          <a  [routerLink]="['/employee-list']" routerLinkActive="active" class ="nav-link">Employee List</a>
        </li>
        <li class ="nv-item">
          <a  [routerLink]="['/create-department']" routerLinkActive="active" class ="nav-link"> Create Department</a>
        </li>
        <li class ="nv-item">
          <a  [routerLink]="['/department-list']" routerLinkActive="active" class ="nav-link">Department List</a>
        </li>
        
        
      </div>
    </div>
    <button class="btn btn-danger" (click)="LogOut()" >LogOut</button>
  </nav>
  
  













  <div class="img">
    <form>
<h1 >Department list</h1>
<table class="table table-striped table-bordered table-light">
    <thead  class="table-dark">
        
        <tr>
            <th>dept_id</th>
            <th>dept_name</th>
            <th>Update Action</th>
            <th>Delete Action</th>
        </tr>
    </thead>


    <tbody>
        <tr *ngFor="let department of departments">
            <td>{{department.dept_id}}</td>
            <td>{{department.dept_name}}</td>
            
            <td> <button class="btn btn-primary m-2" (click)="updateDepartment(department.dept_id)">Update</button></td>
            <td> <button class="btn btn-danger m-2" (click)="deleteDepartment(department.dept_id)">Delete</button></td>
            
            
        </tr>
    </tbody>


</table>
</form>
</div>